
<section class="ftco-section contact-section bg-light">
    <div class="container">
        <div class="row d-flex contact-info">
            <div class="col-md-12">
                <h2 class="h4 font-weight-bold">İletişim Bilgilerimiz</h2>
            </div>
            <div class="w-100"></div>
            <div class="col-md-3 d-flex">
                <div class="dbox">
                    <p><span>Adres:</span> Van/ Turkiye</p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="dbox">
                    <p><span>Telefon No:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="dbox">
                    <p><span>Mail Adresi:</span> <a href="mailto:info@yoursite.com">tastefoodit@gmail.com</a></p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="dbox">
                    <p><span>Web Site</span> <a href="/Default/Index/">TasteFoodit.com</a></p>
                </div>
            </div>
        </div>
    </div>
</section>