<div class="col-md-6 col-lg-3">
    <div class="ftco-footer-widget mb-4">
        <h2 class="ftco-heading-2">Bülten</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <form action="#" class="subscribe-form">
            <div class="form-group">
                <input type="text" class="form-control mb-2 text-center" placeholder="e-posta adresini girin">
                <input type="submit" value="Abone Ol" class="form-control submit px-3">
            </div>
        </form>
    </div>
</div>
