
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Detail/Index.cshtml";
}

<section class="hero-wrap hero-wrap-2" style="background-image: url('/Templates/tasteit-master/images/bg_5.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate text-center mb-5">
                <h1 class="mb-2 bread">Şeflerimiz</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="/Default/Index/">Ana Sayfa <i class="fa fa-chevron-right"></i></a></span> <span>Şefler <i class="fa fa-chevron-right"></i></span></p>
            </div>
        </div>
    </div>
</section>

@Html.Action("PartialChef", "Default")
<section class="ftco-section ftco-wrap-about ftco-no-pb ftco-no-pt">
    <div class="container">
        <div class="row no-gutters">

        </div>
    </div>
</section>
